:root {
  --main-color: #19478C;
  --button-active: #276ED9;
  --link-color: #2d57d2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora', serif;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  color: var(--main-color);
  margin: 16px auto;
  padding: 8px;
  text-align: center;
  /* width: 280px; */
}

header h1 {
  font-size: .875rem;
  font-weight: 800;
  margin-bottom: 8px;
  text-transform: uppercase;
}

header p {
  font-size: .75rem;
}

header p:nth-of-type(1) {
  font-weight: 600;
}

header p:nth-of-type(2) {
  margin: 20px auto;
  color: #141414;
  line-height: 1.5;
  max-width: 350px;
}

nav {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  position: relative;
}

ul {
  list-style: none;
}

.container {
  padding: 10px;
  flex: 1;
}

.months {
  display: grid;
  grid-template-columns: repeat(12, 48px);
  grid-auto-rows: 24px;
  overflow-x: scroll;
  gap: 34px;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.months::-webkit-scrollbar {
  display: none;
}

.arrow-icon {
  position: absolute;
  top: 0;
  cursor: pointer;
}

.arrow-icon:first-of-type {
  left: -20px;
}

.arrow-icon:last-of-type {
  right: -20px;
}

.month {
  align-items: center;
  background-color: #F2F7FF;
  border-radius: 4px;
  color: var(--main-color);
  display: flex;
  font-weight: 600;
  font-size: .875rem;
  justify-content: center;
  text-transform: uppercase;
  transition: background-color .4s, outline .4s;
  scroll-snap-align: center;
}

.month:hover,
.month:active,
.month.active,
.month[data-month-active="true"] {
  background-color: var(--button-active);
  color: #ffffff;
  cursor: pointer;
}

.month:focus,
.day:focus {
  outline: 1px solid #66A3FF;
}

.days {
  background-color: #FAFCFF;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(7, 32px);
  grid-auto-rows: minmax(auto, 32px);
  justify-content: center;
  gap: 16px;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 16px 8px;
}

.day {
  padding: 8px;
  text-align: center;
  color: var(--main-color);
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: background-color .4s;
}

.day:hover,
.day:active,
.day.active,
.day[data-day-active="true"] {
  background-color: var(--button-active);
  color: #ffffff;
  cursor: pointer;
}

.devotional {
  display: flex;
  gap: 20px;
}

.devotional__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--main-color);
  border-radius: 8px;
  padding: 12px;
  flex: 1;
}

.devotional__content:nth-of-type(1) {
  background-color: #EFEDFF;
}

.devotional__content:nth-of-type(2) {
  background-color: #FFFBE0;
}

.devotional__type {
  text-transform: uppercase;
  text-align: center;
  font-size: .875rem;
  font-weight: 800;
  margin-bottom: 16px;
}

.book {
  font-size: .875rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.7;
  margin-bottom: 8px;
}

dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  border: none;
  padding: 20px;
  border-radius: 8px;
  max-height: 70vh;
}

.modal__content {
  position: relative;
}

.modal__title,
.modal__description {
  color: #141414;
}

.modal__title {
  font-size: 1rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}

.modal__description {
  text-align: justify;
  margin-bottom: 32px;
  font-size: .875rem;
  line-height: 1.4;
}

.modal__description p {
  margin-bottom: 20px;
}

dialog blockquote {
  font-style: italic; 
  font-size: 0.9em; 
  margin-top: 10px; 
  color: #5a5a5a;
}

.modal__social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.modal__social a {
  text-decoration: none;
}

.author__bio {
  list-style: disc;
  margin-bottom: 16px;
}

.author__bio,
.author__legacy {
  margin-bottom: 20px;
  list-style-position: inside;
}

.author__bio li,
.author__legacy li {
  margin-bottom: 12px;
}

.social__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.social__links svg{
  transition: fill 0.3s ease;
}

.social__name {
  color: #4B5563;
  font-weight: 600;
  font-size: .75rem;
  transition: fill 0.3s ease;
}

.social__links:visited {
  color: #122254;
}

.social__links:hover svg
{
  fill: var(--link-color);
}

.social__links:hover .social__name
{
  color: var(--link-color);
}


.modal__close__icon,
.modal__close__btn {
  cursor: pointer;
}

.modal__close__icon {
  position: absolute;
  right: 0;
  background: none;
  border: none;
}

.modal__close__btn {
  font-size: .875rem;
  font-weight: 600;
  border: none;
  background-color: #FFF0F1;
  color: #8E0B1A;
  border-radius: 4px;
  font-family: sans-serif;
  width: 84px;
  height: 28px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #fafcff;
  width: 100%;
  padding: 8px 16px;
}

footer p {
  font-size: .75rem;
  text-align: justify;
  line-height: 1.4;
  color: #414141;
}

footer a {
  color: var(--link-color);
  font-weight: 600;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #122254;
}

footer a:active {
  color: #2445A8;
}

footer a:visited {
  color: #122254;
}

@media(min-width: 400px) {
  body {
    align-items: center;
  }

  .container {
    width: 360px;
    flex: initial;
  }  
}

@media(min-width: 768px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  header p:nth-of-type(2) {
    max-width: 500px;
  }

  nav {
    width: initial;
    margin-left: 0;
    margin-right: 0;
  }

  .arrow-icon {
    display: none;
  }

  .months {
    display: grid;
    grid-template-columns: repeat(3, 48px);
    gap: 20px;
    overflow-x: initial;
  }

  .days {
    margin-top: 0;
    margin-bottom: 0;
  }

  .devotional {
    flex-direction: column;
  }

  dialog {
    max-width: 60vw;
    padding: 40px;
  }

  footer p {
    max-width: 75vw;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@media(min-width: 1080px) {
  header p:nth-of-type(2) {
    max-width: 600px;
  }

  dialog {
    max-width: 50vw;
    padding: 40px;
  }

  footer {
    padding: 20px;
  }
}

@media(min-width: 1280px) {
  .container {
    justify-content: space-around;
  }

  header {
    width: 580px;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header p:nth-of-type(1) {
    font-size: 1.125rem;
  }

  header p:nth-of-type(2) {
    font-size: 1rem;
    margin: 50px auto;
  }

  .months {
    grid-template-columns: repeat(3, 80px);
    grid-auto-rows: 46px;
  }

  .month {
    font-size: 1.25rem;
  }

  .days {
    padding: 48px;
    gap: 20px;
    grid-template-columns: repeat(7, 48px);
    grid-auto-rows: minmax(auto, 48px);
  }

  .day {
    font-size: 1.75rem;
  }

  .devotional__content {
    padding: 28px;
  }

  .devotional__type {
    font-size: 1.5rem;
  }

  .book {
    font-size: 1.25rem;
  }

  dialog {
	  max-width: 40vw;
  }

  .modal__description {
    font-size: 1rem;
    line-height: 1.6;
  }

  dialog blockquote {
    font-size: 1rem;
  }

  .social__name {
    font-size: 1rem;
  }

  footer p {
    font-size: .875rem;
  }
}

@media(min-width: 1440px) {
  .container {
    width: 1440px;
  }

  dialog {
	  max-width: 30vw;
  }
}